@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ubuntu-regular";
    src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: "ubuntu-bold";
    src: url(./assets/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: "ubuntu-medium";
    src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

.fcc{
    @apply flex flex-col justify-center items-center;
}

.frc{
    @apply flex justify-center items-center;
}

/* From Step Indicator */
.activeIndicator{
   @apply w-8 h-8 p-6 rounded-full bg-neutral-100 text-2xl font-ubuntu_medium frc; 
}
.inactiveIndicator{
    @apply w-8 h-8 p-5 border-2 border-white rounded-full text-2xl font-ubuntu_medium text-white bg-transparent frc;
}
